html {
    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #0f172a;
    color: #e2e8f0;
}

.bg-grid {
    position: relative;
    overflow: hidden;
    background-color: #0f172a;
    /* warna dasar slate-900 */
}

.bg-grid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to right, rgba(0, 255, 255, 0.15) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 255, 255, 0.15) 1px, transparent 1px);
    background-size: 60px 60px;
    animation: moveGrid 12s linear infinite;
    z-index: 0;
}

@keyframes moveGrid {
    0% {
        background-position: 0 0, 0 0;
    }

    100% {
        background-position: 60px 60px, 60px 60px;
    }
}

/* Untuk konten di atas background */
.section-content {
    position: relative;
    z-index: 10;
}

.perspective-1000 {
    perspective: 1000px;
}

  /* Efek hover 3D rotate */
.group:hover img {
    transform: rotateY(12deg) scale(1.1);
}

  /* Efek glowing biru halus */
.group:hover::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    box-shadow: 0 0 25px 10px rgba(59, 130, 246, 0.2);
    z-index: 0;
}